<!DOCTYPE html>
<html>
  <head>
    <title>Safety Backpacks</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row no-gutter">
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
        <div class="col-md-8 col-lg-6">
          <div class="login d-flex align-items-center py-5">
            <div class="container">
              <div class="row">
                <div class="col-md-9 col-lg-8 mx-auto">
                  <h3 class="login-heading mb-4"><strong class="text-success"><i class="fas fa-lock"></i>Safety</strong> Backpacks</h3>
                  <form action="login" method="POST">
                    <div class="form-label-group">
                      <input type="email" id="inputEmail" class="form-control" name="correo" placeholder="Ingrese su correo..." required autofocus>
                      <label for="inputEmail">Ingrese su correo...</label>
                    </div>
    
                    <div class="form-label-group">
                      <input type="password" id="inputPassword" class="form-control" name="contrasena"placeholder="Ingrese su contrase単a..." required>
                      <label for="inputPassword">Ingrese su contrase単a...</label>
                    </div>
                    <button class="btn btn-lg btn-success btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Entrar</button>
                    <div class="alert alert-danger" <%=estado%>>
                      <%= mensajeError %>
                    </div>
                    <div class="text-center">
                      <a class="small" href="#">多Olvidaste tu contrase単a?</a></div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>